<?php
ob_start();
?>

<html>
    <head>
        <title>
            <?php
            if (defined("TITLE")) echo TITLE;
            else echo "A test web page";
            ?>
        </title>
        <meta charset="utf8" />
        <link rel="stylesheet" href="css/1.css" type="text/css" media="screen,projection" />
    </head>

    <body>
        <div id="wrapper">
            <!-- 页头 -->
            <div id="header">
                <p class="description">This is a description</p>
                <h1><a href="index.php">Link to index.php</a></h1>
                <ul id="nav">
                    <li><a href="books.php">Books</a></li>
                    <li><a href="#">Stories</a></li>
                    <li><a href="#">Quotes</a></li>
                    <li><a href="login.php">Login</a></li>
                    <li><a href="register.php">Register</a></li>
                </ul>
            </div>

            <!-- 边栏 -->
            <div id="sidebar">
                <h2>This is sidebar h2</h2>
                <p class="news">This is a paragragh with class news</p>
                <p class="news">This is another paragragh</p>

                <em>
                <p>
                <?php
                date_default_timezone_set("Asia/Shanghai");

                $d = date("Y-m-d H:i:s l");
                echo "$d";
                ?>
                </p>
                </em>
            </div>

            <!-- 内容 -->
            <div id="content">
                <!-- 可变内容开始 -->